Package: com.yourcompany.ipslider
Name: IPSlider
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Monzy Zhang
Author: Monzy Zhang
Section: Tweaks
